Repository tednaaa/react-starter-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm test, npm run format:check

chore: remove husky & lint staged
  .husky/pre-push
  .lintstagedrc.json
  package-lock.json
  package.json
Due: npm run format:check

feat: ci config & husky lint-staged
  .github/workflows/ci.yml
  .husky/pre-push
  .lintstagedrc.json
  jest.config.json
  package-lock.json
  package.json
  src/app/testing/file-mock.ts
  src/app/testing/setup.ts
  src/app/testing/style-mock.ts
Due: npm run lint, npm run format:check

chore: remove polyfill for focus-visible
  package-lock.json
  package.json
  src/app/index.tsx
  src/app/scss/config/setup.scss
  src/app/scss/index.scss
  src/pages/root/ui/page.tsx
Due: npm run lint, npm run format:check

feat: add postcss & autoprefixer
  package-lock.json
  package.json
  postcss.config.js
  webpack.config.js
Due: npm run format:check

chore: add husky commitlint
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: npm run format:check

chore: remove mui
  package-lock.json
  package.json
  src/app/app.tsx
  src/app/providers/theme.ts
  src/pages/root/ui/theme-mode/theme-mode.spec.tsx
  src/pages/root/ui/theme-mode/theme-mode.tsx
  src/shared/lib/testing/render.tsx
Due: npm run lint, npm test, npm run format:check

chore: add lint-staged precommit
  .eslintrc.json
  .husky/pre-commit
  package-lock.json
  package.json
Due: npm run format:check

test(e2e): init & config cypress
  .eslintrc.json
  .gitignore
  babel.config.json
  cypress.config.js
  cypress/.eslintrc.json
  cypress/src/e2e/app.cy.ts
  cypress/src/fixtures/example.json
  cypress/src/support/commands.ts
  cypress/src/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
  webpack.config.js
Due: npm run lint, npm run format:check

ci: add cypress
  .github/workflows/ci.yml
Due: npm run format:check

ci: add commands to run e2e tests
  .github/workflows/ci.yml
Due: npm run format:check

ci: add runs-on ubuntu for cypress
  .github/workflows/ci.yml
Due: npm run format:check

ci: add PORT env for e2e
  .github/workflows/ci.yml
Due: npm run format:check

test(e2e): init & config cypress (#63)
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  babel.config.json
  cypress.config.js
  cypress/.eslintrc.json
  cypress/src/e2e/app.cy.ts
  cypress/src/fixtures/example.json
  cypress/src/support/commands.ts
  cypress/src/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
  webpack.config.js
Due: npm run lint, npm run format:check

chore: update readme command
  README.md
Due: npm run format:check

chore: update npm packages
  package-lock.json
  package.json
Due: npm run format:check

chore(docker): setup dockerfile & dockerignore
  .dockerignore
  Dockerfile
Due: npm run format:check

chore(docker): add compose and update configs
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
Due: npm run format:check

ci: set nodejs version to 18.15.0
  .github/workflows/ci.yml
Due: npm run format:check

chore: update readme
  README.md
Due: npm run format:check

chore(npm): update deps
  package-lock.json
  package.json
Due: npm run format:check

refactor: remove unnecessary React imports
  src/app/app.tsx
  src/app/index.tsx
  src/pages/root/ui/counter-two/counter-two.spec.tsx
  src/pages/root/ui/counter-two/counter-two.tsx
  src/pages/root/ui/counter/counter.spec.tsx
  src/pages/root/ui/counter/counter.tsx
  src/pages/root/ui/main/main.spec.tsx
  src/pages/root/ui/main/main.tsx
  src/pages/root/ui/page.tsx
  src/pages/root/ui/skills/skills.spec.tsx
  src/pages/root/ui/skills/skills.tsx
  src/pages/root/ui/users/users.spec.tsx
  src/pages/root/ui/users/users.tsx
  src/pages/router.tsx
  src/shared/lib/testing/render.tsx
  src/shared/ui/container/container.spec.tsx
  src/shared/ui/container/container.tsx
Due: npm run lint, npm test, npm run format:check

chore: change main naming & update lint staged pattern
  package.json
  src/app/main.tsx
  src/app/scss/main.scss
  webpack.config.js
Due: npm run lint, npm run format:check

chore: update styles naming
  src/shared/ui/container/container.tsx
  src/shared/ui/container/styles.module.scss
Due: npm run lint, npm run format:check

chore: update deps
  package-lock.json
  package.json
Due: npm run format:check

chore: update welcome page
  src/app/scss/config/setup.scss
  src/layouts/main/styles.module.scss
  src/modules/users/ui/assets/welcome.jpeg
  src/modules/users/ui/styles.module.scss
  src/modules/users/ui/users.tsx
  src/pages/welcome/ui/assets/welcome.gif
  src/pages/welcome/ui/page.tsx
  src/pages/welcome/ui/styles.module.scss
  webpack.config.js
Due: npm run lint, npm run format:check

fix(types): add declaration file in root tsconfig
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npm run format:check

fix: update deps & fix lint errors
  package-lock.json
  package.json
  public/index.html
  src/app/typings/index.d.ts
  src/modules/users/api/mocks.ts
  src/modules/users/lib/use-users.spec.ts
  src/shared/lib/testing/render.tsx
  src/shared/lib/validation/email.ts
  src/shared/ui/container/container.spec.tsx
Due: npm run lint, npm test, npm run format:check

chore: bump packages versions
  package-lock.json
  package.json
Due: npm run format:check

chore: fix test errors and formatting
  package-lock.json
  package.json
  src/modules/users/api/mocks.ts
  src/modules/users/lib/use-users.spec.ts
  src/modules/users/ui/users.spec.tsx
  src/shared/lib/testing/render.tsx
  src/shared/lib/validation/email.ts
  src/shared/ui/container/container.spec.tsx
Due: npm run lint, npm test, npm run format:check

Path conditions:
  npm run lint: any of: *.{ts,tsx}
  npm test: any of: *.spec.{ts,tsx}
  npm run format:check: any of: *
